/*=============================================================*/
/*===========================WRAPPER===========================*/
/*=============================================================*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
	max-width: 890px;
	margin: 0 auto;
}

body {
	width: 100%;
}