/*=============================================================*/
/*============================FOOTER===========================*/
/*=============================================================*/
.footer-section {
	padding: 15px 0;
	background: #43a06d;
	text-align: center;
	color: #fff;
	font: 14px/14px sans-serif;
}