@import "reset";
@import "fonts";
@import "container";

/*=============================================================*/
/*=====================WELCOME-SECTION=========================*/
/*=============================================================*/
.welcome-section {
	position: relative;
	height: 100vh;
	background: #60534d url("../img/bg-header.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
}

header {
	text-align: center;
}

.logo {
	position: absolute;
	width: 100%;
	max-width: 110px;
	height: auto;
	top: 20%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	&:before {
		 content:"";
		 width: 150%;
		 height: 200%;
		 display: block;
		 z-index: -1;
		 position: absolute;
		 padding: 15px;
		 background: #000;
		 top: -80%;
		 left: -39%;
		 -webkit-border-radius: 50%;
 		 -moz-border-radius: 50%;
		 border-radius: 50%;
	}
	& img {
		width: 100%;
		max-width: 100px;
		height: auto;
	}
}

.welcome-text {
	width: 100%;
	position: absolute;
	top: 40%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	/*padding: 34% 0 5%;*/
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	& h2{
		font: 50px/50px sans-serif;
	}
	& p {
		font: bold 50px/50px sans-serif;
	}
}


/*=============================================================*/
/*======================JOBS-SECTION===========================*/
/*=============================================================*/
.submit {
	position: relative;
	top: -200px;
    margin: 0 auto;
	width: 335px;
	background-color: #fff;
	padding: 28px 0;
	border-radius: 2px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	& form {
		margin-bottom: 23px;
		& input {
			padding: 0 5px;
			width: 80%;
			border-radius: 4px;
			font: 15px/28px sans-serif;
		}
	}
    & img {
    	width: 100%;
    	margin-bottom: 23px;
    }
    & p {
    	color: #938e8e;
    	font: 15px/15px sans-serif;
    	margin: 0 50px 23px;
    }
    & button {
    	cursor: pointer;
    	padding: 0 30px;
    	text-transform: uppercase;
    	background: #227dd3;
    	border: none;
    	border-radius: 2px;
    	color: #fff;
    	font: 25px/40px sans-serif;
    }
}

.jobs-section {
	width: 100%;
	& li {
		width: 30%;
		height: 150px;
		padding: 0 0 0 100px;
		margin-bottom: 15px;
		& h4 {
			font: bold 27px/35px sans-serif;
			margin-top: 10px;
		}
		& p {
			color: #4f4e4e;
			font: 14px/14px sans-serif;
			margin-bottom: 10px;
		}
	}
}

.jobs{
	margin-top: -150px;
	display: flex;
	justify-content: space-around;
}

.pages{
	background: url(../img/pages.png) no-repeat;
	background-size: 91px;
}

.camera{
	background: url(../img/camera.png) no-repeat;
	background-size: 91px;
}

/*=============================================================*/
/*====================CONTENT-SECTION==========================*/
/*=============================================================*/
.content-section {
	background: #308355;
	color: #fff;
	& p {
		padding-bottom: 40px;
		font: 14px/23px sans-serif;
	}
	& h3 {
		padding-bottom: 40px;
		font: 39px/39px sans-serif;
	}
}

.block-1 {
    background: #5fc18b;
    padding: 268px 10px 0;
    background: #5fc18b url(../img/tablet1.png) no-repeat left 28% top 65px;
	background-size: 40%;
    & p:last-child{
    	padding-bottom: 0;
    }
    & h3{
    	text-align: center;
    }
}
.block-2 {
  	position: relative;
  	margin-top: 150px;
 	padding: 20px 0;
    background: #44a36f url(../img/comp1.png) no-repeat;
    background-position: left bottom;
	background-size: 30%;
 	& p:last-child{
    	padding-bottom: 0;
    }
 	&:after {
  		content: "";
  		position: absolute;
 		height: 105px;
  		width: 100%;
		top: -105px;
 		background: #44a36f;
 		clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
 	 }
  	&:before {
 		content: "";
  		position: absolute;
  		height: 150px;
  		width: 100%;
  		top: -150px;
  		background: #5fc18b;
  		clip-path: polygon(0 0, 100% 0, 100% 24%, 0 100%);
  }
}
.float-l {
	padding: 0 20px 0 28%;
	margin-bottom: 60px;
	& button {
		color: #fff;
		background: #44a36f;
		border: solid 3px #fff;
		border-radius: 10px;
		font: 27px/45px sans-serif;
		padding: 0 30px;
		cursor: pointer;
	}
}

/*=============================================================*/
/*=====================SUBMIT-SECTION==========================*/
/*=============================================================*/
.submit-section {
	position: relative;
	text-align: center;
	& iframe {
		display: block;
	}
}

.sub-form {
	width: 430px;
	height: 430px;
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	border-radius: 50%;
	top: 10%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	& input {
		margin: 15px 0;
		width: 60%;
		padding: 0 15px;
		font: 14px/35px sans-serif;
	}
	& input:first-child {
		margin: 0 0;
		margin-top: 110px;
	}
	& textarea {
		font: 14px/35px sans-serif;
		width: 60%;
		padding: 0 15px;
	}
	& button {
		margin-top: 35px;
		width: 63px;
		height: 63px;
		background: url(../img/arrow.png);
		background-size: cover;
		border: none;
		cursor: pointer;
	}
}


@import "footer";
@import "media";