/*==================================================================================*/
/*=====================================FONTS========================================*/
/*==================================================================================*/
@font-face {
	font-family: "Bold";
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
	font-family: "Light";
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: "Regular";
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "ExtraBold";
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: "Italic";
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
	font-family: "SemiBold";
	src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}