/*==================================================================================*/
/*======================================FOOTER======================================*/
/*==================================================================================*/
.footer-section {
	padding: 15px 20px;
	text-align: center;
	color: #3b3b3b;
	font: 14px/14px sans-serif;
}