/*========================================*/
/*================FONTS===================*/
/*========================================*/

/*================== Montserrat ===================*/
@font-face {
	font-family: "M-Light";
	src: url('../fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
	font-family: "M-Regular";
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "M-ExtraLight";
	src: url('../fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

/*================ Raleway ========================*/

@font-face {
	font-family: "Ra-Medium";
	src: url('../fonts/Raleway-Medium.ttf') format('truetype');
}

@font-face {
	font-family: "Ra-ExtraBold";
	src: url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: "Ra-SemiBold";
	src: url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: "Ra-Regular";
	src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "Ra-Bold";
	src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}


/*================ Roboto ========================*/

@font-face {
	font-family: "Ro-Regular";
	src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}